<div class="component__inner hotgrid__inner">

  {{> component this}}

  <div class="component__widget hotgrid__widget">

    <div class="hotgrid__grid" role="list">

      {{#each _items}}
      <div class="hotgrid__item" role="listitem">

        <button class="hotgrid__item-btn{{#all _graphic.srcHover _graphic.srcVisited}} is-image{{else}} is-css{{/all}}{{#if ../_isRound}} is-round{{/if}}{{#if _isVisited}} is-visited{{/if}} item-{{@index}} js-hotgrid-item-click" data-index="{{@index}}">

          <span class="aria-label">
            {{#if _graphic.title}}{{{_graphic.title}}}{{else}}{{../_globals._accessibility._ariaLabels.item}} {{numbers @index}}{{/if}}.{{#if _graphic.alt}} {{{_graphic.alt}}}.{{/if}}
          </span>

          <div class="hotgrid__item-btn-inner" aria-hidden="true">

              <div class="hotgrid__item-image-container">

                <img class="hotgrid__item-image is-default" src="{{_graphic.src}}">
                {{#all _graphic.srcHover _graphic.srcVisited}}
                <img class="hotgrid__item-image is-hover" src="{{_graphic.srcHover}}">
                <img class="hotgrid__item-image is-visited" src="{{_graphic.srcVisited}}">
                {{/all}}

              </div>

              {{#if _graphic.title}}
              <div class="hotgrid__item-title" aria-hidden="true">
                <div class="hotgrid__item-title-inner">
                  {{{_graphic.title}}}
                </div>
              </div>
              {{else}}
              {{!-- item has no title - show icon instead --}}
              <div class="btn-icon hotgrid__item-icon">
                <div class="icon"></div>
              </div>
              {{/if}}

          </div>

        </button>

      </div>
      {{/each}}

    </div>

  </div>

</div>
