<div class="hotgrid-popup__inner">

  {{#each _items}}
  <div class="hotgrid-popup__item{{#if _classes}} {{_classes}}{{/if}}{{#if _isVisited}} is-visited{{/if}}{{#if _isActive}} is-active{{/if}}{{#if ../_isRound}} is-round{{/if}}" data-index={{@index}}{{#unless _isActive}} aria-hidden="true"{{/unless}}>

    <div class="hotgrid-popup__item-content">
      <div class="hotgrid-popup__item-content-inner">

        {{#if title}}
        <div{{#if _isActive}} id="notify-heading"{{/if}} class="hotgrid-popup__item-title" {{a11y_attrs_heading 'notify'}}>
          <div class="hotgrid-popup__item-title-inner">
            {{{title}}}
          </div>
        </div>
        {{/if}}

        {{#if body}}
        <div class="hotgrid-popup__item-body">
          <div class="hotgrid-popup__item-body-inner">
            {{{compile body}}}
          </div>
        </div>
        {{/if}}

      </div>
    </div>

    <div class="hotgrid-popup__item-image-container{{#if _itemGraphic.attribution}} has-attribution{{/if}}">

      {{#if _itemGraphic.src}}
      <img class="hotgrid-popup__item-image" src="{{_itemGraphic.src}}" {{#if _itemGraphic.alt}}aria-label="{{{_itemGraphic.alt}}}"{{else}}aria-hidden="true"{{/if}}>
      {{else}}
      <img class="hotgrid-popup__item-image" src="{{_graphic.src}}" {{#if _graphic.alt}}aria-label="{{{_graphic.alt}}}"{{else}}aria-hidden="true"{{/if}}>
      {{/if}}

      {{#if _itemGraphic.attribution}}
      <div class="component__attribution hotgrid-popup__attribution">
        <div class="component__attribution-inner hotgrid-popup__attribution-inner">
          {{{_itemGraphic.attribution}}}
        </div>
      </div>
      {{/if}}

    </div>

  </div>
  {{/each}}

</div>

<div class="hotgrid-popup__toolbar{{#if _hidePagination}} hide-pagination{{/if}}">

  {{#unless _hidePagination}}
  <div class="hotgrid-popup__nav">

    <button class="btn-icon hotgrid-popup__controls back js-hotgrid-control-click" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
      <div class="icon"></div>
    </button>

    <div class="hotgrid-popup__count"></div>

    <button class="btn-icon hotgrid-popup__controls next js-hotgrid-control-click" aria-label="{{_globals._accessibility._ariaLabels.next}}">
      <div class="icon"></div>
    </button>

  </div>
  {{/unless}}

  <button class="btn-icon hotgrid-popup__close js-hotgrid-popup-close" aria-label="{{_globals._accessibility._ariaLabels.closePopup}}">
    <div class="icon"></div>
  </button>

</div>

{{a11y_wrap_focus}}
