<div class="component-inner hotgrid-inner">
    {{> component this}}
    <div class="component-widget hotgrid-widget">
        <div role="list" class="hotgrid-grid">
            <div class="hotgrid-grid-inner clearfix">
                {{#each _items}}
                <div role="listitem" class="hotgrid-grid-listitem">
                    <button class="base hotgrid-grid-item hotgrid-item-states-{{#all _graphic.srcHover _graphic.srcVisited}}image{{else}}css{{/all}} {{#if _isVisited}}visited{{/if}}" data-index="{{@index}}">

                        <span class="aria-label">
                            {{#if _graphic.title}}{{numbers @index}}. {{_graphic.title}}{{else}}{{../_globals._accessibility._ariaLabels.item}} {{numbers @index}}{{/if}}.{{#if _graphic.alt}} {{_graphic.alt}}.{{/if}}
                        </span>

                        <div class="hotgrid-item-image {{#if ../_hasRoundedImages}}border-radius{{/if}}">
                            <img src="{{_graphic.src}}" class="hotgrid-item-image-default"/>
                            {{#all _graphic.srcHover _graphic.srcVisited}}
                            <img src="{{_graphic.srcHover}}" class="hotgrid-item-image-hover"/>
                            <img src="{{_graphic.srcVisited}}" class="hotgrid-item-image-visited"/>
                            {{/all}}
                        </div>
                        {{#if _graphic.title}}
                        <div class="hotgrid-item-title">
                            <div class="hotgrid-item-title-inner">
                                {{{_graphic.title}}}
                            </div>
                        </div>
                        {{else}}{{!-- item has no title - show icon instead --}}
                        <div class="hotgrid-item-icon">
                            <span class="icon icon-plus"></span>
                        </div>
                        {{/if}}
                    </button>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
